.container {
    position: relative;
    width: 400px;
    min-height: 40px;
    background: #FFFFFF;
    margin: 20px;
}

.selectedBlock {
    display: flex;
    justify-content: space-between;
    border: 1px solid #C1C1C1;
    border-radius: 10px;
    align-items: center;
    cursor: pointer;
}

.selectedItemBlock {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    min-height: 40px;
}

.labelButton {
    display: flex;
    background: #F4F4F4;
    border: none;
    padding: 6px 12px;
    margin: 7px 4px 9px 10px;
    border-radius: 8px;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;

    color: #333333;
}

.selectedOption {

}

.removeItem:after {
    color: #333333;
    display: block;
    padding-left: 10px;
    font-size: 15px;
    line-height: 12px;
    content: "\00d7";
    cursor: pointer;
}

.btn {
    display: inline-block;
    position: relative;
    justify-content: center;
    width: 10px;
    height: 5px;
    background: none;
    border: solid #333333;
    border-width: 0 2px 2px 0;
    padding: 4px;
    margin: 0 17px 0 0;
    cursor: pointer;
}

.btnUp {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.btnDown {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.selectList {
    margin-top: 8px;
    box-shadow: 0 4px 32px rgba(51, 51, 51, 0.15);
    border-radius: 12px;
    display: none;
}

.showOptions {
    display: block;
}

.options {
    margin: 0;
    padding: 0;
    list-style: none;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}


.option {
    display: flex;
    padding: 18px 0 14px 0;
    border-bottom: 1px solid #F4F4F4;
    align-items: center;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    cursor: default;
}

.flags {
    border-radius: 4px;
    margin: 0 10px 0 18px;
    width: 21px;
    height: 15px;
}

.checkBoxBlock {
    width: 100%;
    box-sizing: border-box;
}


.checkBox {
    -webkit-appearance: none;
    position: absolute;
}

.label {
    float: right;
    margin-right: 18px;
    cursor: pointer;
}

.checkmark:before {
    content: '';
    display: block;
    width: 24px;
    height: 24px;
    border-radius: 6px;


    position: absolute;
    box-sizing: border-box;

    border: 2px solid #C1C1C1;
    background-color: #FFFFFF;
    z-index: 1;
}

.checkmark:after {
    content: '';
    display: block;
    width: 24px;
    height: 24px;

    background: url("../../icons/icons8-done.svg") no-repeat;
    background-size: 18px 18px;

    position: relative;
    top: 2px;
    left: 3px;
    z-index: 2;

    opacity: 0;

}

.checkBox:checked + .checkmark:before {
    background-color: #005FFD;
    border: 2px solid #0049D9;
}

.checkBox:checked + .checkmark:after {
    opacity: 1;

}
